<h3>Dashboard</h3>
<p>User 1:<%= @user1.username %></p>
<p>Questions answered: <%= @questionsU1 %></p>
<p>Time taken: <%= @time_takenU1 %></p>

<hr>
<p>User 2:<%= @user2.username %></p>
<p>Questions answered: <%= @questionsU2 %></p>
<p>Time taken: <%= @time_takenU1 %></p>