<h1>Welcome to the practice area</h1>
<p>You can test your skills here!</p>
Solve this expression:
<%= @expression %><br>
The answer: 
<%= @ans %>

Type your answer:

<%= form_with model: @question do |form| %>
  <div>
    <% form.label :solution %><br>
    <%= form.text_area :solution %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
