<h3><%= @room.name %></h3>
<% if current_user == @creator %>
  <p>Share this link with your friend:</p>
  <p><%= room_url(@room) %></p>
<% end %>
Created by: <%= @creator.username %>
<h3>Welcome</h3>
<p>You have joined the room with id: <%= @room_id %></p>
<hr>
<h3>Users in the room:</h3>
<% @all_users.each do |user| %>
  <%= render "users/user", user: user %>
<% end %>
<%= link_to "Begin playing", "#", class: "btn btn-primary" %>