<%= turbo_stream_from @room %>
<div id="<%= dom_id(@room) %>">
  <%= render @room %>
</div>
<h3>Welcome</h3>
<p>You have joined the room with id: <%= @room_id %></p>
<hr>
<h3>Users in the room:</h3>
<% @all_users.each do |user| %>
  <%= render "users/user", user: user %>
<% end %><br>
<%= link_to "Begin playing", room_bro_session_index_path(@room), class: "btn btn-primary" %>