<%= form_with url: '/level_up' do |form| %>
  <div>
    <%= form.text_field :expression, value: @expression, type: "hidden" %>
  </div>
  
  <div>
     <%= form.hidden_field :time_taken, value: Time.now.sec %>
  </div>

  <div>
  <h3>Enter solution: </h3>
    <%= form.text_field :solution, autofocus: true %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>