<p>Your time is up!</p>
<p>Correct answers: <%= @corrects %></p>
<p>Wrong answers: <%= @incorrects %></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Questions</th>
      <th scope="col">Your solution</th>
      <th scope="col">Time taken</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each_with_index do |question, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= question.expression %></td>
      <td><%= question.solution %></td>
      <td><%= question.time_taken %> secs</td>
    </tr>
    <% end %>
  </tbody>
</table><br><br><br>